HELP.md

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Java
*.class

# Logs
*.log

# Environment / Secret
.env
*.env
.env.*
application-local.properties
application-secret.properties
application-secret.yml
application-secret.yaml
application-local.yml
application-local.yaml

# STS / Eclipse
.metadata/
metadata/
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db